*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: white;
}


.col_12{
    width: 100%;
}

.col_5{
    margin-left: 10px;
    margin-bottom: 10px;
    width: calc(100% / 5 - 10px);
}

img{
    max-width: 100%;
}