*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.row{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.col_12{
    width: 100%;
}

.col_5{
    width: calc(100% / 5 - 10px);
}